{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> 
 <!--   /* <style>
      body  { padding-top:30px; }
    </style>*/ -->
    <script src="http://code.angularjs.org/1.2.6/angular.js"></script> 
    <script src="{% static "js/app.js"%}"></script>

    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body >
<div class="container">
<div class="col-sm-8 col-sm-offset-2">
    <div class="page-header"><h1>Post</h1></div>
    <form action='/posted' id="register-form" method="POST"name="userForm"> {% csrf_token %}
    <div class="form-group">

            <label>Name</label>
            <input type="text" name="user" class="form-control" value = "{{edit_entry.user}}">
        </div>
        <div class="form-group">
            <label>Tittle</label>
            <input type="text" name="tittle" class="form-control" value = "{{edit_entry.tittle}}">
        </div>
         <div class="form-group">
            <label>Slug</label>
            <input type="text" name="slug" class="form-control" value = "{{edit_entry.slug}}">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" name="description" class="form-control" value = "{{edit_entry.description}}">
        </div>

        <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" id="description" name="content">{{edit_entry.content}}</textarea>
            <!-- <textarea rows="6" cols="90" name="content"></textarea> -->
            <!-- <input type="text" name="content" class="form-control"> -->
            </div>
        <button type="submit" class="btn btn-primary">Post</button>

    </form> 
</div>
</div>
</body>
</html>
