<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>
<body>

<div class="container" style="margin-top:75px;border :2px solid #ccc">
<div class="col-sm-8 col-sm-offset-2">



{% block content %}
<form method="post" action="/password_reset">
    {% csrf_token %}
    <p>Please enter your email address. </p>
     <p>You will receive a link to create a new password via email.</p>
        <br>
                    
    {{form.as_p}} 
        

  
    <input class="btn btn-primary" id="submit_button" type="submit" value="Submit" />
</form>
{% endblock content %}

    
</div>
</div>
</body>
</html>