{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> 
    <style>
      body  { padding-top:30px; }
    </style>
    <script src="http://code.angularjs.org/1.2.6/angular.js"></script> 
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

</head>
<body >
<div class="container">
<div class="col-sm-8 col-sm-offset-2">
    <div class="page-header"><h1>Password Change</h1></div>
    <form action='/changing-password/{{encryptedstring}}/' id="register-form" method="POST" name="userForm"> 
    {% csrf_token %}
        <!-- <div class="form-group">
            <label>Username</label>
            <input type="text" name="user" class="form-control" placeholder="username" >
        </div>
         <div class="form-group">
            <label>Password</label>
            <input type="password" name="pass" class="form-control" placeholder="password" >
        </div>
         <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" placeholder="email">
        </div> -->
            <!-- <input type="email" name="email" class="form-control" value="rtrtrttrret" READONLY>
        </div> -->
     <!--  <label > username: {{form.username}} </label><br> -->
      <label > Password: {{form.password}} </label><br>
      <!-- <label > Email   : {{form.email}} </label>
 -->
      <!-- {{form.paasword}}
 -->
      <p>{{error}}</p>
        <input class="btn btn-primary" id="login_button" type="submit" value="submit" />
          

        <!-- <a href="/changing-password/erewrwre/{{encrypt_string}}"><input class="btn btn-primary" type="button" value="View" /></a> -->
    </form> 
    
</div>
</div>
</body>
</html>
