 <!DOCTYPE html>
 <html>
 <head>
 	
 		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<img src="blog2.jpg" class="img-responsive" alt="Cinque Terre" width="100%" height="236"> 

	</div>
	<div class="container">
		<ul style="list-style-type:square">
 			<li>Apples</li>
 				<p>kooiiiii</p>
 			<li>Bananas</li>
 				<p>bhaiiii</p>
 			<li>Lemons</li>
 			<li>Oranges</li>
</ul>


	</div>

</body>